/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* Shape fonts */
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Cedarville+Cursive&family=Inter:wght@100..900&family=Style+Script&family=Tangerine:wght@400;700&display=swap');

* {
    font-family: "Inter", sans-serif;
}

body {
    max-width: 1440px;
    background-color: black;
}

/* shared styles */

.hero-btn-one {
    color: #FFFFFF;
    background-color: #E6533C;
    border-radius: 42px;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    padding: 12px 22px;
}

.hero-btn-two {
    color: #FFFFFF;
    background-color: transparent;
    border-radius: 42px;
    border: 1px solid #b3b1b1;
    font-size: 1rem;
    font-weight: 600;
    padding: 12px 22px;
    margin-left: 10px;
}

.common-title {
    font-size: 3rem;
    font-weight: 700;
    color: #FFFFFF;
}

header {
    background: linear-gradient(rgba(27, 27, 27, 100%), rgba(27, 27, 27, 50%), rgba(27, 27, 27, 100%));
}

/* nav styles */
.fa-solid {
    display: none;
}

.navlinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 13%;
}

.logo {
    color: #E6533C;
    font-size: 2rem;
    font-weight: 800;
}

.home {
    background-color: #E6533C;
    border: none;
    border-radius: 20px;
    padding: 6px 18px;
    margin-left: -15px;
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border: .1px solid rgb(49, 49, 49);
    border-radius: 20px;
    padding: 4px 18px;
    cursor: pointer;
}

.nav-items {
    list-style: none;
    font-size: 1rem;
    color: #FFFFFF;
}

/* heder section styles */

.hero-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.header-one {
    width: 590px;
    margin-top: -40px;
}

.header-two {
    width: 340px;
    position: relative;
}

.header-section img {
    width: 100%;
}

.hero-title {
    font-size: 4.75rem;
    font-weight: 700;
    color: #FFFFFF;
    line-height: 70px;
    margin-top: -20px;
}

.hero-description {
    margin: -20px 0 25px 0;
    color: #FFFFFF;
    opacity: 50%;
}

.shape {
    font-family: "Tangerine", cursive;
    font-weight: 400;
    font-size: 9rem;
}

.header-card {
    position: absolute;
    width: 170px;
    height: 90px;
    border-radius: 10px;
    background-color: rgba(48, 48, 48, 0.54);
}

.card-one {
    color: #FFFFFF;
    top: 120px;
    left: 200px;
    padding: 5px 0 5px 20px;
}

.card-two {
    color: #FFFFFF;
    top: 420px;
    left: -100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0 0;
}

.icon {
    margin-left: -100px;
}

.card-title,
.card1-title {
    font-size: 2rem;
    color: #FFFFFF;
    font-weight: 700;
    position: absolute;
    margin-top: -28px;
}

.card1-title {
    margin-top: 15px;
}

.card-description {
    position: absolute;
    margin-top: 5px;
}

.card1-description {
    position: absolute;
    margin-top: 50px;
}

/* habit section styles */

.habit-section {
    margin: 100px 12% 70px 12%;
    text-align: center;
}

.habit-description {
    font-size: 14px;
    color: #FFFFFF;
    padding: 0 20%;
    margin-top: -10px;
    margin-bottom: 40px;
    opacity: 50%;
}

.habit-contents {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.habit-box img {
    border-radius: 50%;
}

.habit-box-description {
    margin-top: -18px;
}

.habit-box-title {
    font-size: 1.10rem;
    font-weight: 600;
    color: #FFFFFF;
}

/* run section styles */

.run-section {
    display: flex;
    height: 290px;
    margin: 0 12%;
    padding: 20px 70px;
    border-radius: 20px;
    align-items: center;
    justify-content: space-between;
    background-color: #222222;
}

.run-img {
    width: 30%;
}

.run-img img {
    width: 100%;
}

.run-title {
    margin-top: -8px;
}

.run-content {
    width: 40%;
}

.run-description {
    font-size: 14px;
    color: #FFFFFF;
    margin-top: -40px;
    padding: 10px 0;
    opacity: 50%;
}

/* trainings and Exercises styles */

.excercise-section {
    margin: 100px 12%;
}

.img-box {
    width: 100%;
}

.img-content>img {
    width: 100%;
    height: 100%;
}

.img-description {
    font-size: 14px;
    opacity: 100%;
    position: absolute;
    color: #FFFFFF;
    top: 150px;
    left: 20px;
    padding-right: 30px;
    z-index: 10;
}

.ImgBox-one {
    display: grid;
    grid-template-columns: 250px 520px 290px;
}

.ImgBox-two {
    display: grid;
    grid-template-columns: 425px 280px 355px;
}

.excercise-description {
    font-size: 14px;
    color: #FFFFFF;
    opacity: 50%;
    margin: -30px 50% 40px 0;
}

.img-content {
    position: relative;
}

.overlay-one,
.overlay-two,
.overlay-five,
.overlay-six {
    width: 100%;
    height: 100%;
    background: #06FFD2;
    opacity: 40%;
    top: 0;
    left: 0;
    position: absolute;
}

.overlay-two {
    background: #E6533C;
}

.overlay-three,
.overlay-four {
    width: 100%;
    height: 100%;
    background: #222222;
    opacity: 40%;
    top: 0;
    left: 0;
    position: absolute;
}

.overlay-five {
    background: #42FF00;
}

.overlay-six {
    background: #0047FF;
}

/* BMI Calculator section styles */

.bmi-section {
    color: white;
    text-align: center;
    margin: 80px 0;

}

.bmi-description {
    text-align: left;
    font-size: 14px;
    margin: -35px 20% 50px 37%;
    opacity: 50%;
}

.bmi-contents {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 25px;
    background-color: #222222;
}

.bmi-calculator {
    margin-right: 100px;
}

.calculator-title,
.form-title {
    font-size: 2.5rem;
    text-align: left;
    margin-top: 10px;
}

.form-description {
    font-size: 14px;
    opacity: 50%;
    margin-top: -30px;
    margin-bottom: 30px;
    text-align: left;
}

.bmi-form {
    width: 40%;
}

.input-one>input,
.input-two>input,
select {
    border: none;
    border-radius: 10px;
    background-color: #363636;
    font-weight: 600;
    padding: 10px;
    color: #838282;
}

.input-one {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}

.input-two>select {
    width: 100%;
    margin-top: 10px;
}

th,
td {
    border: 1px solid #333333;
    padding: 12px 15px;
    text-align: left;
}

td {
    color: #838282;
    font-size: 14px;
}

table {
    border-collapse: collapse;
}

.form-btn {
    padding: 12px 60px;
    margin-top: 15px;
    float: left;
}

/* <!-- Meet Our Team section style --> */

.meet-section {
    text-align: center;
    margin: 80px 12%;
}

.meet-description {
    color: #FFFFFF;
    opacity: 50%;
    font-size: 14px;
    margin: -25px 15% 60px 15%;
}


.meet-img-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 10px;
    gap: 15px;
    padding: 15px;
    justify-items: center;
    background-color: #222222;
}

.meet-img-section img {
    width: 100%;
    border-radius: 10px;
}

.img-div {
    position: relative;
}

.trainer-name,
.trainer-qualification {
    position: absolute;
    top: 180px;
    left: 10px;
    color: #FFFFFF;
    font-size: 1.25rem;
}

.trainer-qualification {
    top: 210px;
    font-size: 14px;
    opacity: 70%;
}

/* footer styles */

footer {
    background-color: #222222;
    height: 470px;
    position: relative;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    gap: 100px;
    padding-top: 80px;
}

.footer-content {
    width: 440px;
}

.footer-services {
    width: 200px;
    text-align: center;
}

.footer-title {
    font-size: 1.75rem;
    font-weight: 700;
}

.footer-items>li {
    list-style: none;
    opacity: 50%;
    margin-bottom: 12px;
}

.footer-logo {
    font-size: 4rem;
    font-weight: 800;
    color: #E6533C;
}

.footer-description {
    opacity: 50%;
    font-size: 14px;
    margin-top: -30px;
}

.hr-line {
    position: absolute;
    top: 380px;
    left: 140px;
    opacity: 40%;
    width: 80%;
}

.copyrite {
    position: absolute;
    color: #FFFFFF;
    opacity: 50%;
    top: 400px;
    left: 550px;
    text-align: center;
}


/* small devices styles */

@media screen and (max-width: 425px) {

    /* shared styles */
    .hero-btn-one {
        font-size: 1rem;
        padding: 12px 20px;
    }

    .hero-btn-two {
        font-size: 1rem;
        padding: 12px 20px;
        margin-left: 10px;
    }

    .common-title {
        font-size: 2rem;
    }

    body {
        width: 100%;
        margin: 0;
    }

    /* shared styles ends */

    .fa-solid {
        display: block;
        color: #FFFFFF;
        font-size: 1.5rem;
    }

    .navlinks {
        margin: 0 10%;
    }

    .nav-list {
        display: none;
    }

    /* heder section styles */

    .hero-banner {
        flex-direction: column;
        margin: -30px 10%;
    }

    .header-section {
        margin: 0 20%;
    }

    .header-one {
        width: 100%;
        margin: 80px 10%;
    }

    .header-two {
        width: 100%;
        margin-top: -20%;
        position: relative;
    }

    .hero-title {
        font-size: 3rem;
    }

    .shape {
        font-size: 5rem;
    }

    .card-one {
        top: 60px;
        left: 190px;
        width: 150px;
        height: 80px;
        padding: 5px 0 5px 20px;
    }

    .card-two {
        top: 250px;
        left: -5px;
        gap: 10px;
        padding: 0 0;
    }

    /* habit section styles */
    .habit-title {
        margin-top: -100px;
    }

    .habit-description {
        padding: 0 2%;
        margin-top: -10px;
        margin-bottom: 60px;
    }

    .habit-box-description {
        padding: 0 20%;
    }

    .habit-contents {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 0;
    }

    /* run section styles */

    .run-section {
        flex-direction: column;
        height: 540px;
        padding: 33px;
        margin: -60px 5% 0 5%;
        text-align: left;
    }

    .run-description {
        padding-top: 30px;
        line-height: 25px;
    }

    .run-img,
    .run-content {
        width: 100%;
    }

    .habit-button {
        width: 100%;
        margin-bottom: 20px;
    }

    /* Trainings and Exercises section style */

    .overlay-three,
    .overlay-six,
    .img-3,
    .img-6 {
        display: none;
    }

    .img-description {
        top: 50px;
        left: 20px;
        padding-right: 30px;
    }

    .excercise-section {
        margin: 80px 5%;
    }

    .ImgBox-one,
    .ImgBox-two {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .excercise-title {
        margin-right: 30%;
    }

    .excercise-description {
        margin: -20px 30% 40px 0;
    }


    /* BMI Calculator section styles */
    .bmi-section {
        text-align: left;
    }

    table {
        width: 100%;
    }

    .calculator-title,
    .form-title {
        font-size: 1.5rem;
    }

    .form-title {
        margin-top: 50px;
    }

    .form-description {
        margin: -8px 8% 20px 0;
    }

    .form-btn {
        width: 100%;
    }

    .bmi-description,
    .bmi-title {
        text-align: left;
        margin: 0 5%;
        padding: 0 15px 30px 15px;
    }

    .bmi-contents {
        flex-direction: column;
    }

    .bmi-form,
    .bmi-calculator {
        width: 100%;
    }

    .bmi-calculator {
        margin-right: 0;
    }

    .input-one>input {

        width: 90%;
    }

    /* <!-- Meet Our Team section style --> */
    .meet-section {
        margin: 0 5% 100px 5%;
    }

    .meet-description {
        margin: -25px 5% 60px 5%;
    }

    .meet-img-section {
        grid-template-columns: repeat(1, 1fr);
        padding: 15px 0px;
    }

    .img-div {
        width: 90%;
    }

    .trainer-name,
    .trainer-qualification {
        top: 210px;
        left: 20px;
    }

    .trainer-qualification {
        top: 240px;
    }

    /* footer styles */
    footer {
        height: 850px;
    }

    .footer-container {
        flex-direction: column;
        justify-content: left;
        gap: 20px;
        padding-top: 10px;
    }

    .footer-content {
        width: 80%;
    }

    .footer-services {
        width: 100%;
        text-align: left;
    }

    .hr-line {
        top: 750px;
        left: 30px;
        opacity: 40%;
        width: 85%;
    }

    .copyrite {
        top: 760px;
        left: 80px;
    }

}

/* samll device styles */
@media screen and (min-width: 426px) and (max-width: 576px) {

    /* shared styles */
    .hero-btn-one {
        font-size: 1rem;
        padding: 12px 20px;
    }

    .hero-btn-two {
        font-size: 1rem;
        padding: 12px 20px;
        margin-left: 10px;
    }

    .common-title {
        font-size: 2rem;
    }

    body {
        width: 100%;
        margin: 0;
    }

    /* shared styles ends */

    .fa-solid {
        display: block;
        color: #FFFFFF;
        font-size: 1.5rem;
    }

    .navlinks {
        margin: 0 10%;
    }

    .nav-list {
        display: none;
    }

    /* heder section styles */

    .hero-banner {
        flex-direction: column;
        margin: -30px 10%;
    }

    .header-section {
        margin: 0 20%;
    }

    .header-one {
        width: 100%;
        margin: 80px 10%;
    }

    .header-two {
        width: 100%;
        margin-top: -20%;
        position: relative;
    }

    .hero-title {
        font-size: 3rem;
    }

    .shape {
        font-size: 5rem;
    }

    .card-one {
        top: 80px;
        left: 260px;
    }

    .card-two {
        top: 360px;
        left: 10px;
        gap: 10px;
        padding: 0 0;
    }

    /* habit section styles */
    .habit-title {
        margin-top: -100px;
    }

    .habit-description {
        padding: 0 2%;
        margin-top: -10px;
        margin-bottom: 60px;
    }

    .habit-box-description {
        padding: 0 20%;
    }

    .habit-contents {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 0;
    }

    /* run section styles */

    .run-section {
        flex-direction: column;
        height: 680px;
        padding: 20px 5px;
        margin: -60px 5% 0 5%;
        text-align: left;
    }

    .run-content {
        width: 90%;
    }

    .run-img {
        width: 80%;
    }

    .run-description {
        padding-right: 60px;
        margin-left: 5%;
        line-height: 25px;
    }

    .run-title {
        font-size: 3rem;
        margin: 10px 8% 50px 5%;
    }

    .habit-button {
        margin: 5px 0 0 5%;
        width: 90%;
    }

    /* Trainings and Exercises section styles */
    .overlay-three,
    .overlay-six,
    .img-3,
    .img-6 {
        display: none;
    }

    .img-description {
        top: 100px;
        left: 20px;
        padding-right: 30px;
    }

    .excercise-section {
        margin: 80px 5%;
    }

    .ImgBox-one,
    .ImgBox-two {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .excercise-description {
        margin: -20px 30% 45px 0;
    }

    /* BMI Calculator section styles */
    .bmi-section {
        text-align: left;
    }

    table {
        width: 100%;
    }

    .calculator-title,
    .form-title {
        font-size: 1.5rem;
    }

    .form-title {
        margin-top: 50px;
    }

    .form-description {
        margin: -8px 8% 20px 0;
    }

    .form-btn {
        width: 100%;
    }

    .bmi-description,
    .bmi-title {
        text-align: left;
        margin: 0 5%;
        padding: 0 15px 30px 15px;
    }

    .bmi-contents {
        flex-direction: column;
    }

    .bmi-form,
    .bmi-calculator {
        width: 100%;
    }

    .bmi-calculator {
        margin-right: 0;
    }

    .input-one>input {
        width: 92%;
    }

    /* <!-- Meet Our Team section style --> */
    .meet-section {
        margin: 80px 5%;
    }

    .meet-description {
        margin: -25px 5% 60px 5%;
    }

    .meet-img-section {
        grid-template-columns: repeat(1, 1fr);
        padding: 20px;
    }

    .img-div {
        width: 100%;
    }

    .trainer-name,
    .trainer-qualification {
        top: 310px;
        left: 20px;
    }

    .trainer-qualification {
        top: 340px;
        opacity: 60%;
    }

    /* footer styles */
    footer {
        height: 850px;
    }

    .footer-container {
        flex-direction: column;
        justify-content: left;
        gap: 20px;
        padding-top: 10px;
    }

    .footer-content {
        width: 90%;
    }

    .footer-description {
        margin-right: 180px;
    }

    .footer-services {
        width: 100%;
        text-align: left;
    }

    .hr-line {
        top: 750px;
        left: 30px;
        opacity: 40%;
        width: 85%;
    }

    .copyrite {
        top: 760px;
        left: 150px;
    }
}

/* styles for medium devices */
@media screen and (min-width:577px) and (max-width: 992px) {
    body {
        max-width: 100%;
        margin: 0;
    }

    .navlinks {
        margin: 0 8%;
    }

    /* heder section styles */

    .hero-banner {
        flex-direction: column;
        margin: 100px 15%;
    }

    .header-one {
        width: 100%;
    }

    .header-two {
        width: 50%;
        position: relative;
    }

    .hero-description {
        margin: -20px 20% 25px 0;
        line-height: 30px;
    }

    .card-one {
        top: 12%;
        left: 65%;
    }

    .card-two {
        top: 50%;
        left: 1%;
    }

    /* habit section styles */

    .habit-section {
        margin: 100px 15% 70px 15%;
    }

    .habit-description {
        margin-bottom: 60px;
    }

    .habit-contents {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
    }

    /* run section styles */
    .run-section {
        display: flex;
        height: 320px;
        margin: 0 5%;
        padding: 20px 70px;
        border-radius: 20px;
        align-items: center;
    }

    .run-img {
        width: 45%;
    }

    /* trainings and Exercises styles */

    .excercise-section {
        margin: 100px 5%;
    }

    .ImgBox-one,
    .ImgBox-two {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .img-description {
        top: 60%;
        left: 8%;
    }

    /* bmi section style */
    .bmi-contents {
        flex-direction: column;
        gap: 20px;
    }

    .bmi-calculator {
        width: 100%;
        margin-right: 0px;
    }

    .bmi-description {
        margin: -35px 50% 50px 5%;
    }

    .bmi-title {
        margin-left: 5%;
    }

    .bmi-section {
        text-align: left;
        margin: 80px 0;

    }

    .bmi-form {
        width: 100%;
    }

    .input-one {
        gap: 15px;
    }

    .input-two>select {
        margin-top: 15px;
    }

    .form-btn {
        margin-top: 25px;
    }

    /* <!-- Meet Our Team section style --> */

    .meet-section {
        margin: 80px 5%;
    }

    .trainer-name {
        top: 65%;
    }

    .trainer-qualification {
        top: 78%;
    }

    /* footer styles */

    footer {
        height: 840px;
    }

    .footer-logo {
        margin-top: -20px;
    }

    .footer-container {
        flex-direction: column;
        gap: 20px;
    }

    .footer-content {
        width: 100%;
        margin-left: 5%;
    }

    .footer-description {
        margin-right: 60%;
    }

    .footer-services {
        width: 100%;
        text-align: left;
    }

    .hr-line {
        top: 740px;
        left: 0;
        width: 100%;
    }

    .copyrite {
        top: 760px;
        left: 360px;
    }

}